<html>
    
    <head>

    </head>
    
	<body>
        <div>
            <h1> Hunger Honcho </h1>
        </div>
        <div>
            <h2> Delete Restaurant </h2>
        </div>
        <div>
            <form action = '#' method = 'post'>
                <p> Are you sure you want to delete {{restaurant.name}}?</p>
                    <input type = 'submit' value = 'Delete'>
            </form>
            <a href = "{{url_for('showRestaurants')}}" > Cancel </a>
        </div>

    </body>
    
</html>