<html>
    
    <head>
        <title>Hunger Honcho</title>
        <link href='https://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">

    </head>
    
	<body>
        <div>
            <h1> Hunger Honcho </h1>
        </div>
        <div>
            <h2> Edit Restaurant </h2>
        </div>
        <div>
            <form action = "{{url_for('editRestaurant', restaurant_id=restaurant_id)}}" method = 'post'>
                <p> Name: </p>
                    <input type = 'text' size = 30 name = 'name' placeholder = '{{restaurant.name}}'>
                    <input type = 'submit' value = 'Edit'>
                    <a href = "{{url_for('showRestaurants')}}" > Cancel </a>
            </form>
        </div>

    </body>
    
</html>