<!DOCTYPE html>
<html>
    <head>
        <title>Hunger Honcho</title>
        <link href='https://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    </head>
    <!-- Title -->
	<body>
        <div class="header">
            <h1> Hunger Honcho </h1>
        </div>
        <!-- Header -->
        <div>
            <h2> New Menu Item </h2>
        </div>
        <!-- New Menu Item -->
        <div class="fullFormCard">
            <div class="menuContainer">
                <form action = "{{url_for('newMenuItem', restaurant_id=restaurant_id)}}" method = 'post'>
                    <p class="fullFormText">Name:</p>
                    <div class="row">
                        <div class="fullFormContainer">
                            <input type ='text' size='30' name='name' placeholder = 'Enter Name Here...'>
                        </div>
                    </div>
                    <p class="fullFormText">Description:</p>
                    <div class="row">
                        <div class="fullFormContainer">
                            <textarea name = 'description' rows='5' cols='40' placeholder = 'Enter Description Here...'></textarea>
                        </div>
                    </div>
                    <p class="fullFormText">Course:</p>
                    <div class="row">
                        <p>
                        <input type ='radio' name='course' value='Appetizer'checked>Appetizer
                        <input type ='radio' name='course' value='Entree'>Entree
                        <input type ='radio' name='course' value='Dessert'>Dessert
                        <input type ='radio' name='course' value='Beverage'>Beverage
                        </p>
                    </div>
                    <p class="fullFormText">Price:</p>
                    <div class="row">
                        <div class="fullFormContainer">
                            <input type = 'text' size = '8' name='price' placeholder = 'Enter Price Here...'>
                        </div>
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        <div class="menuContainer">
                            <div class="column2">
                                <input type='submit' value='Create'>
                            </div>
                            <div class="column2">
                                <a class="cancel" href = "{{url_for('showMenu', restaurant_id=restaurant_id)}}" > Cancel </a>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </body>   
</html>