
h1 {
    text-align: center;
    padding: 20px;
	margin: 10px;
    margin-top: 20px;
    font-family: 'Belgrano', cursive;
    color: black;
    text-shadow: 3px 3px grey;
    font-size: 3rem;
	font-weight: 100;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100;}

.container {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.topText p {
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-family: 'Belgrano', cursive;
    color: grey;
    font-size: 1.75rem;
}

.flash { 
    background: #cee5F5;
}

.createButton {
    background-color: cornflowerblue;
    margin: auto;
    width: 30%;
    height: 50%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px grey;
}

a {
    text-decoration: none;
    text-align: center;
    display: block;
}

.createButton a {
    padding: 10px;
	margin: 10px;
    font-family: 'Belgrano', cursive;
    color: white;
    text-shadow: 3px 3px grey;
    font-size: 1rem;
	font-weight: 100;
}

h3 {
    text-align: center;
    padding: 10px;
	margin: 5px;
    font-family: 'Belgrano', cursive;
    color: black;
    font-size: 1.5rem;
	font-weight: 20;
}

.gap {
    height: 15px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.restaurantContainer {
    width: 100%;
    margin: auto;
    height: 200px;
}

.restaurantCard {
    background-color: #cce6ff ;
    margin: auto;
    width: 75%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px grey;
    height: 150px;
}

.column {
  float: left;
  width: 33.33%;
}

.restaurantCard a {
    background-color: #cccccc;
    margin: auto;
    padding: 10px;
    font-family: 'Belgrano', cursive;
    color: white;
    text-shadow: 1px 1px grey;
    font-size: 1rem;
    font-weight: 20;
    border-radius: 10px;
    box-shadow: 2px 2px black;
}

/* unvisited link */
a:link {
    color:white;
  }
  
  /* visited link */
  a:visited {
    color: grey;
  }
  
  /* mouse over link */
  a:hover {
    color: grey;
  }
  
  /* selected link */
  a:active {
    color: grey;
  }



/*
body {
    font-family: sans-serif;
    background-color: #333333;
    background-image: url('https://cloud.githubusercontent.com/assets/9041401/6119508/7cbced14-b07e-11e4-9dbd-f01488203879.jpg')
}

h1, h2, h3, h4 {
    color: #CCCCCC;
}

h1, h2 {
    font-family: 'Georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

p {
    color: #CCCCCC;
}

a {
    text-decoration: none;
    color:#FFFFCC;
    font-size: .75em;
}

.pane {
    position:absolute;
    left: 25%;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border-color: #999999;
    background-color: #333333;
}

.header {
    left:50%;
    text-align: center;
}
.name {
    width:50%;
    display: inline-block;
    float: left;
}

.description {

}
.price {
    text-align: right;
    width:50%;
    float: right;
}

.editdeletepane{

}

.flash {
    background: #cee5F5;
}
*/